<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>댓글목록</h3>
	<div>
		<table>
			<thead>
				<tr>
					<th>No</th>
					<th>reply</th>
					<th>replyer</th>
					<th>replyDate</th>
					<th>updateDate</th>
					<th>수정/삭제</th>
				</tr>
			</thead>
			<tbody id="replylist">
				<tr>
					<td>1</td>
					<td>댓글 1번입니다.</td>
					<td>scott</td>
					<td>2023-10-10</td>
					<td>2023-12-05</td>
					<td><button type="button" onclick="remove(100)">삭제</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>