<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>사원등록</h2>
	<form action="/insert" method="post" enctype="multipart/form-data">
		<label>last_name</label> <input name="lastName"> <br> <label>jobId</label>
		<select name="jobId">
			<option value="IT_PROG">Programmer</option>
			<option value="ST_MAN">Stock Manager</option>
		</select> <br> <label>입사일</label> <input type="text" name="hireDate" value="2024-03-14"><br>
		<label>이메일</label> <input name="email"> <br> <label>사진</label>
		<input name="photoFile" type="file"><br>
		<div>
			<button>등록</button>
		</div>
	</form>
</body>

</html>