<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>사원수정</h2>
	<form action="/update" method="post" enctype="multipart/form-data">
		<label>last_name</label> <input name="lastName"
			th:value="${empInfo.lastName}"> <br> <label>jobId</label>
		<select name="jobId" th:value="${empInfo.jobId}">
			<option value="IT_PROG">Programmer</option>
			<option value="ST_MAN">Stock Manager</option>
		</select> <br> <label>입사일</label> <input type="text" name="hireDate"
			th:value="${#dates.format(empInfo.hireDate, 'yyyy-MM-dd')}"><br> <label>이메일</label> <input
			name="email" th:value="${empInfo.email}"> <br> <label>사진</label> <input
			name="photoFile" type="file"><br>
		<div>
			<input type="hidden" name="employeeId" th:value="${empInfo.employeeId}">
			<button>수정</button>
		</div>
	</form>
</body>

</html>