<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.board.mapper.ReplyMapper">	

	<select id="getReply" resultType="ReplyVO">
		SELECT *
		FROM reply
		WHERE bno = #{bno}
		ORDER BY rno
	</select>
	
	<select id="getReplyInfo" resultType="ReplyVO">
		SELECT *
		FROM reply
		WHERE rno = #{rno}
	</select>
	
	<insert id="insertReply">
	<selectKey keyProperty="rno" order="BEFORE" resultType="long">
			select seq_reply.nextval from dual
	</selectKey>
		INSERT INTO reply(rno,
						  bno,
						  reply,
						  replyer
						 )
		VALUES(#{rno}, #{bno}, #{reply}, #{replyer})
	</insert>
	
	<delete id="deleteReply">
		DELETE FROM reply
		WHERE rno = #{rno}
	</delete>
	
	<update id="updateReply">
		UPDATE reply
		SET reply = #{reply}, replyer = #{replyer}, updateDate = sysdate
		WHERE rno = #{rno}
	</update>
</mapper>